{% extends 'core/base.html' %}

{% block title %}
    Home | SneakZone
{% endblock %}

{% block content %}

<h1>{{ titulo | upper}}</h1>

<p>
    {{ subtitulo | lower}}
</p>

<h2 class="mb-4"> Categorias</h2>

<div class="row g-4">

 {% for categoria in categorias %}

    <div class="col-md-3">

        <a
            href="{% url 'produtos_categoria' categoria.nome %}"
            class="text-decoration-none"
        >

            <div class="card h-100">

                <div class="card-body text-center">

                    <h5 class="mb-0">
                        {{ categoria }}
                    </h5>

                </div>

            </div>

        </a>

    </div>

{% endfor %}

</div>
<div class="row g-4 ">

    {% for produto in produtos %}

        <div class="col-md-4">

            {% include 'produtos/partials/produto_card.html' %}

        </div>

    {% endfor %}

{% endblock %}