{% load static %}
<div class="card h-100 shadow-sm produto-card">
    <img src="{% static produto.imagem %}"
        class="card-img-top"
        alt="{{ produto.nome }}">

    <div class="card-body">

        <h5 class="card-title">
            {{ produto.nome }}
        </h5>

        <span class="badge bg-secondary mb-2">
            {{ produto.categoria }}
        </span>

        <p class="card-text">
            {{ produto.descricao }}
        </p>

        <h5 class="fw-bold">
            R$ {{ produto.preco|floatformat:2 }}
        </h5>

        {% if produto.estoque > 0 %}

            <span class="badge bg-success">
                Disponível
            </span>

        {% else %}

            <span class="badge bg-danger">
                Esgotado
            </span>

        {% endif %}

        <div class="mt-3">

            <a
                href="{% url 'produtos_detalhe' produto.id %}"
                class="btn btn-primary">

                Ver detalhes

            </a>

        </div>

    </div>

</div>