{% extends "core/base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="card usuario-card">

                <div class="card-body p-5">

                    <h1>
                        Criar minha conta
                    </h1>

                    <p class="text-muted">
                        Faça seu cadastro na SneakZone.
                    </p>

                    <form method="post">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button
                            class="btn btn-primary w-100"
                            type="submit"
                        >
                            Criar conta
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}