 <nav class="navbar navbar-expand-lg bg-dark">

    <div class="container">

        <a class="navbar-brand text-white"
           href="{% url 'home' %}">
            SneakZone
        </a>

        <div>

            <a class="btn btn-dark text-white"
               href="{% url 'home' %}">
                Home
            </a>

            <a class="btn btn-dark text-white"
               href="{% url 'produtos' %}">
                Produtos
            </a>

            <a class="btn btn-dark text-white"
               href="{% url 'sobre' %}">
                Sobre
            </a>

              <a class="btn btn-dark text-white"
               href="{% url 'contato' %}">
                Contato
            </a>
            

        </div>

    </div>

</nav>